
@{
    ViewData["Title"] = "ProjektDodajUcesnike";
}

<h1>ProjektDodajUcesnike</h1>

@model ProjektUcesniciVM


@foreach (var i in Model.rows)
{
<form asp-action="ProjektDodajUcesnikeSnimi" asp-controller="Projekt">

    <div class="form-group">
        <label>Ime i Prezime</label>
        <input asp-for="@i.ImeIPrezime"  disabled/>
    </div>
    <div class="form-group">
        <label>Vjestine</label>
        <input  asp-for="@i.vjestine" disabled />
    </div>
    <input type="hidden" asp-for="@Model.ProjektId" name="ProjektId" />
    <div class="form-group">
        <label>Izaberi rolu</label>
        <select asp-for="@i.RolaId" asp-items="@i.Role" name="RolaId"></select>
    </div>
    <input type="hidden" asp-for="@i.Id" name="UcesnikId" />
    <button class="btn-danger " type="submit">IZABERI </button>
</form>
}
<a asp-action="PrikaziUcesnikeNaProjektu" asp-route-Id="@Model.ProjektId" class="btn btn-primary">Show project members</a>